{% extends "base.html" %}
{% block title %}Umfrageformular{% endblock %}
{% block content%}

    <script src="{{ url_for('static', filename='js/datePickerHandling.js') }}"></script>
<script src="{{ url_for('static', filename='js/questionHandling.js') }}"></script>
<script src="{{ url_for('static', filename='js/formHandling.js') }}"></script>



<div class="container mt-5">
  <h1>Umfrageformular</h1>
  <form id="surveyForm" action="/user/submit_survey" method="post">
    <!-- CSRF Token (Vergewissere dich, dass du Flask-WTF oder eine ähnliche Bibliothek verwendest) -->

    <div class="mb-3">
      <label for="surveyTitle" class="form-label">Umfrageüberschrift:</label>
      <input type="text" class="form-control" id="surveyTitle" name="surveyTitle" placeholder="Geben Sie hier die Überschrift Ihrer Umfrage ein...">
    </div>
    <div class="mb-4">
      <label for="calendar_day" class="form-label">Datum auswählen, wann die Umfrage beendet werden soll:</label>
      <div class="input-group w-25">
        <input type="text" id="calendar_day" name="calendar_day" class="form-control" placeholder="DD/MM/YYYY" readonly>
        <button class="btn btn-outline-secondary" type="button" id="datePickerButton">
            <i class="bi bi-calendar"></i>
        </button>
      </div>
    </div>
    <div id="questionsContainer">
      <!-- Dynamisch generierte Fragefelder werden hier eingefügt -->
    </div>
    <div class="fixed-bottom container bg-white p-3">
      <button type="button" class="btn btn-primary" onclick="addQuestionField()">Weitere Frage hinzufügen</button>
      <button type="submit" class="btn btn-success">Umfrage absenden</button>
      <button type="button" class="btn btn-danger" onclick="clearSurvey()">Umfrage löschen</button>
    </div>
  </form>
</div>



    <script>
    document.addEventListener('DOMContentLoaded', function () {
    initializeDatePicker();
    addQuestionField(); // Initialisiere mit einer ersten Frage
});


// Hier würde ich empfehlen, das Skript in mehrere kleinere Dateien aufzuteilen, z.B.:
// - formHandling.js für allgemeine Formularlogik
// - questionHandling.js für die Logik zur Handhabung der Fragen
// - datePickerHandling.js für alle DatePicker-spezifischen Funktionen

// Weitere Details wie das Hinzufügen von Fragen, das Generieren von Antwortfeldern, usw. sollten in den entsprechenden Dateien verarbeitet werden.

    </script>
{% endblock %}
